<body ng-controller="mainController">
    <div class="container" ng-init="checkLogin()">
        <div class="col-md-4">
            <h4> User Account </h4>
            <h4> {{reg_message_success}} </h4>
            <form name="myForm" class="well">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="username" ng-model="username" required/>
                    <div role="alert">
                        <span class="error" ng-show="myForm.username.$error.required">
        Required!</span>
                        <span class="error" ng-show="myForm.username.$error.email">
        Not valid email!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Displayname</label>
                    <input type="text" name="displayname" class="form-control" ng-model="displayname" required/>
                    <span style="color:red" ng-show="myForm.displayname.$dirty && myForm.displayname.$invalid">
                                <span ng-show="myForm.displayname.$error.required">displayname is required.</span>
                    </span>
                </div>
                <input type="button" value="Save  " ng-click="userSave()" class="btn btn-primary" ng-disabled="(myForm.displayname.$dirty && myForm.displayname.$invalid) || (myForm.username.$dirty && myForm.username.$invalid)">
                        <input class="btn btn-primary btn-sm" type="button" value="Change Password" ng-click="password_change()">
            </form>
            <h3> {{login_message}} </h3>
                </div>
        <div class="col-md-4">
                <div ng-if="changePassword">
            <h4> Change Password </h4>
                <form name="userForm" class="well">
                    <!-- password1 -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid &&  submitted }">
                        <label>Password</label>
                        <input id="password" name="password" ng-model="fields.password" class="form-control" required type="password" />
                        <p ng-show="(userForm.password.$invalid && submitted) || noPassword" class="help-block">Password is required.</p>
                    </div>
                    <!-- password2 -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid &&  submitted }">
                        <label>Confirm Password</label>
                        <input name="passwordConfirm" ng-model="fields.passwordConfirm" class="form-control" required type="password" match="fields.password" />
                        <div ng-show="userForm.passwordConfirm.$error.mismatch">
                            <span class="msg-error">Passwords must match.</span>
                        </div>
                    </div>
                    <input type="button" ng-disabled="(userForm.$invalid && submitted) || userForm.passwordConfirm.$error.mismatch" value="Save Password" ng-click="save_password()" class="btn btn-primary" />
                    <input type="button"  value="Cancel" ng-click="password_change()" class="btn btn-primary btn-sm" />
                </form>
                </div>
        </div>
    </div>
</body>
