<body >
    <div class="container" ng-controller="mainController" ng-init="getEventList()">
        <div class="col-xs-4"> 
            <form>
                <div class="jumbotron text-left" class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Event Title" ng-model="formData.text">
                    <input type="text" class="form-control input-lg text-center" placeholder="Event Location" ng-model="formData.event_location">
                    <h3>Pick a date and time</h3>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="ctrl.dates.date3" is-open="ctrl.open.date3" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'date3')"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ ctrl.dates.date3}}</p>
                            </div>
                        </div>
                    </form>
                </div>

                <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Create New Event</button>
            </form>
        </div>
        <div class="col-xs-4"> 
            <div id="todo-list" class="row"  >
                <div class="checkbox" ng-repeat="event in events | orderBy:'-_id'"> 
                    <label>
                        <h3><a href='/invite/{{ events_invite[event._id][0]["invite_code"]}}'> {{ event.event_title}} </a>  </h3>
                        Host: {{ event.event_creator_displayname}} </br>
                        date: {{ event.event_start}} </br>
                        location: {{ event.event_location}} </br>
            <button type="submit" class="btn btn-primary btn-xs" ng-click="deleteEventConfirm(event._id)">Delete Event</button>
            <button type="submit" class="btn btn-primary btn-xs" ng-show="showDeleteEvent && showDeleteEventid == event._id" ng-click="deleteEvent(event._id)">Confirm Delete</button>
                    </label>
                </div>

            </div>
        </div>
    </div>
</body>
