<body>
    <div class="container" ng-init="getEventInvite()">
        <!-- HEADER AND TODO COUNT -->
        <div id="todo-list" class="row" ng-controller="mainController" >
            <div class="col-xs-4">
        <div class="jumbotron text-left">
            <h3>{{ event_title}}</h3>
            <h3>Date: {{event_date}} </h3>
            <h3>Host: {{event_creator_username}} </h3>
        </div>
        <!-- TODO LIST -->
                <div ng-if="isMember">
                    <label> you replied {{invited_reply}}  </label>                               
                    <form class="well" name="myForm">
                        <input type="text" class="form-control input-lg text-center" placeholder="Add comment here" ng-model="formData.comments">
                        <input type="button" value="Add Comment" ng-click="addEvent(event_id, 'none')" class="btn btn-primary" ng-disabled="myForm.username.$dirty && myForm.username.$invalid" >
                        <input  class="btn btn-primary btn-lg" type="button" value="Change Reply" ng-click="invite_change()">
                    </form>
                </div>
                <div ng-if="newInvite" class="button-bar" >
                    <!--  <input  class="btn btn-primary btn-lg {{(ustatus == 'Yes')}}" type="button" value="Yes" ng-click="invite_open( 'Yes')"> -->
                    <input ng-class="{'Yes':'btn btn - success', 1:'two',2:'three'}[ustatus]"   type="button" value="Yes" ng-click="invite_open('Yes')">
                    <input ng-class="{'No':'btn
                                btn - danger', 1:'two',2:'three'}[ustatus]"   type="button" value="No" ng-click="invite_open('No')">
                    <input ng-class="{'Maybe':'btn
                                btn - warning', 1:'two',2:'three'}[ustatus]"   type="button" value="Maybe" ng-click="invite_open('Maybe')">
                </div>
                <div ng-if="showAcceptInvite">
                    <form class="well" name="myForm">
                        <div  class="form-group" >
                            <label>Username</label>
                            <label>{{event_id}}</label>
                            <input type="text" name="username" value="invited.username" ng-model="invited.username" required/> 
                            <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                                <span ng-show="myForm.username.$error.required">Username is required.</span>
                            </span>

                            <br/>
                            <label>Receive rsvp updates:
                                <input type="checkbox" ng-model="checkboxModel.rsvp" ng-true-value="YES" ng-false-value="NO">
                            </label><br/>
                            <label>Receive comments from guest :
                                <input type="checkbox" ng-model="checkboxModel.comment_alert" ng-true-value="YES" ng-false-value="NO">
                            </label><br/>
                            <label ng-if="checkboxModel.rsvp == 'YES' || checkboxModel.comment_alert == 'YES'">Email:
                                <input type="text" name="email" value="invited.email" ng-model="invited.email"/> 
                            </label>
                            <input type="text" class="form-control input-lg text-center" placeholder="Add comment here" ng-model="formData.text">
                            <input type="button" value="Accept Invite  " ng-click="addEvent(event_id, ustatus)" class="btn btn-primary" ng-disabled="myForm.username.$dirty && myForm.username.$invalid" >
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-8">
                <!--
                            <div class="col-sm-4 col-sm-offset-4">
                                <label>
                                    <h3><a href="/invited_list/{{ event_id }}" ng-show="isEventCreator"> Invites </a> </h3>
                                </label>
                -->
                <label>RSVPs </label>
                <div ng-repeat="user in yeses">
                    {{user.in_or_out}} - {{user.username}} 
                    <span ng-if="invite_code == user.invite_code"> You </span>
                    <span ng-if="event_creator_id == user.user_id"> Host </span>
                </div>
                <div ng-repeat="user in nos">
                    {{user.in_or_out}} - {{user.username}} 
                    <span ng-if="invite_code == user.invite_code"> You </span>
                </div>
                <h3>Comments </h3>
                <div ng-repeat="comment in comments">
                    {{comment.text}} - {{comment.username}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
