<body>
    <div class="container" ng-init="checkLogin()">
        <div ng-if="showLoginToInvite">
            <div class="container" ng-controller="mainController">

                <form class="well">
                    <div  class="form-group" >
                        <label>Username</label>
                        <input type="text" name="username" ng-model="user.username"/>
                    </div>
                    <div class="form-group" >
                        <label>Password</label>
                        <input type="password" name="password" ng-model="user.password"/>
                    </div>
                    <input type="button" value="Login" ng-click="login()" class="btn btn-primary"/>
                </form>

                <h3> {{login_message}} </h3>
            </div>
            <h3>or <a href="" ng-click="display_reg_form()">Register</a></h3>
        </div>


        <div ng-if="showRegToInvite">
            <div class="container" >

                <form class="well">
                    <div  class="form-group" >
                        <label>Username</label>
                        <input type="text" name="username" ng-model="user.username"/>
                    </div>
                    <div class="form-group" >
                        <label>Password</label>
                        <input type="password" name="password" ng-model="user.password"/>
                    </div>
                    <input type="button" value="Register" ng-click="register()" class="btn btn-primary"/>
                </form>
                <h3> {{reg_message}} </h3>
            </div>

            <h3>or <a href="" ng-click="display_login_form()">Login</a></h3>
        </div>
    </div>
    <!--
         <div ng-show="showLoginToInvite">
            <form class="well">
                <div  class="form-group" >
                    <label>Username</label>
                    <input type="text" name="username" ng-model="user.username"/>
                </div>
                <div class="form-group" >
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password"/>
                </div>
                <input type="button" value="Login" ng-click="login()" class="btn btn-primary"/>
            </form>
            <h3> {{login_message}} </h3>
        </div>
        </div>
    -->

    <div class="container" class="row" ng-show="isEventCreator" ng-init="getEvent()">
        <!-- HEADER AND TODO COUNT -->
        <div class="col-md-4">
            <div class="well text-left">
                <h4>{{ event_title}}</h4>
                <h4>Date: {{event_date}} </h4>
                <h4>Host: {{event_creator_displayname}} </h4>
            </div>
            <!-- TODO LIST -->
            <!-- TODO LIST -->
            <div id="todo-list" class="row"  >
                <h3><a href="/invite/{{ invite_code}}"> Event Page </a> </h3>
                <div id="todo-form" class="row">
                    <div >
                        <form class="form-inline well" name="myForm">
                        <div class="form-group">
                                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <label>Display Name</label>
                                <input type="text"  name="displayname" class="form-control input-sm text-center" placeholder="name" ng-model="formData.text" required>
        <div role="alert">
      <span class="error" ng-show="myForm.displayname.$error.required">
        Required!</span>
    </div>
                            <br/>
                        <label>Phone/Username</label>
                                <input type="text" name="username" class="form-control input-sm text-center" placeholder="john@email.com" ng-model="formData.email" required>
        <div role="alert">
      <span class="error" ng-show="myForm.username.$error.required">
        Required!</span>
    </div>
                         <!--   <button type="submit"  ng-disabled="(myForm.displayname.$pristine && myForm.displayname.$invalid) && (myForm.username.$pristine && myForm.username.$invalid)" class="btn btn-primary btn-sm" ng-click="addInvite()">Invite</button> -->

                            <button type="submit"  ng-disabled="myForm.displayname.$invalid ||  myForm.username.$invalid" class="btn btn-primary btn-sm" ng-click="sendSMS()">Invite</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8" ng-init="getInvites()">
            <table>
                <thead>
                    <tr>
                        <td><h4>Invited Name</h4> </td>
                        <td><h4>Username/Email</h4> </td>
                        <td><h4>Accepted Displayname</h4> </td>
                        <td><h4>Invited Status</h4> </td>
                    </tr>
                </thead>
                <tr ng-repeat="x in invites">
                    <td>{{ x.invited}}</td>
                    <td>{{ x.invited_email}}</td>
                    <td>{{ x.accepted_displayname}}</td>
                    <td>{{ x.invite_status}}</td>
                    <!--
                        <td><input type="button" value="Text Reminder" ng-click="resendInviteText(invite._id)"></td>
                        <td><input type="button" value="Email Reminder" ng-click="resendInviteEmail(invite._id)"></td>
                        <td><input type="button" value="Mark as Yes" ng-click="statusYes(invite._id)"></td>
                        <td><input type="button" value="Mark as No" ng-click="statusNo(invite._id)"></td>
                    -->
                </tr>
            </table>

        </div>
        <!-- FORM TO CREATE TODOS -->
    </div>
</div>
</body>
