<body >
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>I'm a Todo-woot <span class="label label-info">{{ todos2.length }}</span></h1>
        </div>

 </div>

        <!-- TODO LIST -->

        <!-- FORM TO CREATE TODOS -->
<div id="todo-list" class="row" ng-controller="mainController" ng-init="invite_check()">

        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
   <h3> todos   {{todos[0].event_id}}  </h3>
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->


                    <!-- createToDo() WILL CREATE NEW TODOS -->
 <div ng-if="showAcceptInvite">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="invite_accept(events[0].event_id)">Accept Invite</button>
</div>

 <div ng-if="showLoginToInvite">
<h3>fdsafasfa</h3>
    <div class="container" ng-controller="mainController">

        <form class="well">
           <div  class="form-group" >
    <label>Username</label>
        <input type="text" name="username" ng-model="user.username"/>
    </div>
    <div class="form-group" >
    <label>Password</label>
        <input type="password" name="password" ng-model="user.password"/>
    </div>
     <input type="button" value="Login" ng-click="login()" class="btn btn-primary"/>
    </form>

     <h3> {{login_message}} </h3>
    </div>
   <h3>or <a href="" ng-click="display_reg_form()">Register</a></h3>
 </div>


 <div ng-if="showRegToInvite">
    <div class="container" ng-controller="mainController">

        <form class="well">
           <div  class="form-group" >
    <label>Username</label>
        <input type="text" name="username" ng-model="user.username"/>
    </div>
    <div class="form-group" >
    <label>Password</label>
        <input type="password" name="password" ng-model="user.password"/>
    </div>
     <input type="button" value="Register" ng-click="register()" class="btn btn-primary"/>
    </form>
    <h3> {{reg_message}} </h3>
    </div>

   <h3>or <a href="" ng-click="display_login_form()">Login</a></h3>
            </div>
        </div>

    </div>


    </div>
        </div>
</body>
