<body ng-controller="mainController">
    <div class="container">
       <div class="col-xs-4">
       <h3> Login </h3> 
        <form name="userForm" class="well">

<!-- EMAIL -->
<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid &&  submitted }">
    <label>Email</label>
        <input type="email" class="form-control" name="username" ng-model="user.username" required/>
    <p ng-show="userForm.username.$invalid && submitted" class="help-block">Provide Valid Email.</p>
    </div>


<!-- password1 -->
<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid &&  submitted }">
    <label>Password</label>
          <input id="password" name="password" ng-model="fields.password" class="form-control" required type="password" />
    <p ng-show="(userForm.password.$invalid && submitted) || noPassword" class="help-block">Password is required.</p>
      </div>

     <input type="button"  value="Login" ng-click="login()" class="btn btn-primary"/>
        </form>
        <h3> {{login_message}} </h3>
        <h4>or <a href="/register">Register</a>
    </div>
    </div>

</body>
