<body ng-controller="mainController">

    <div class="container">

       <div class="col-xs-4">
    <h3> Register </h3> 
        <form class="well" name="myForm">
           <div  class="form-group" >
        <label class="control-label required" for="email">Email</label>
        <div class="controls">
        <input type="email" name="username" ng-model="user.username" required/>
          <div ng-show="myForm.username.$error.email">
            <span class="msg-error">Please provide a valid email.</span>
          </div>
          </div>
        <div role="alert">
    </div>
      <div class="control-group">
        <label class="control-label required" for="password">Password</label>
        <div class="controls">
          <input id="password" name="password" ng-model="fields.password" class="input-xlarge" required="true" type="password" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label required" for="passwordConfirm">Confirm Password</label>
        <div class="controls">
          <input name="passwordConfirm" ng-model="fields.passwordConfirm" class="input-xlarge" required="true"
            type="password" match="fields.password" />
          <div ng-show="myForm.passwordConfirm.$error.mismatch">
            <span class="msg-error">Passwords must match.</span>
          </div>
        </div>
      </div>
  <!--   <input type="button" ng-disabled="(myForm.password.$pristine && myForm.password.$invalid) || (myForm.username.$pristine && myForm.username.$invalid) " value="Register" ng-click="register()" class="btn btn-primary"/> -->
     <input type="button" ng-disabled="myForm.$invalid" value="Register" ng-click="register()" class="btn btn-primary"/>
    </form>
    <h3> {{reg_message}} </h3>
    <h4> or <a href="/login">Login</a>
    </div>
    </div>

</body>
